
.blink {
    animation: blink-animation .7s steps(5, start) infinite;
    -webkit-animation: blink-animation .7s steps(5, start) infinite;
    color: rgb(77, 82, 78);
   }
 @keyframes blink-animation {
 /* to {
 visibility: hidden;
 } */
 50%{
    opacity: 0;
    
 }

 }
 .blink_paragraph{
    /* color: black;
    background-color: white;
    animation: blink 1s infinite; */
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
    color: rgb(107, 109, 108);
    font-family:'Times New Roman', Times, serif;
 }
 @keyframes blink-animation {
    50%{
        opacity: 0;
    }


 }
 @-webkit-keyframes blink-animation {                                                 
 to {
 visibility: hidden;
 }
 }

 * {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.h2-for-welcome{
    color:#8338e4 ;
    font-size: 30px;
    font-weight: 800;
    margin-left: 15px;
    margin: top 1px;;
}

h1 span{
    color:rgb(16, 182, 16); ;
}

section {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    height: calc(100vh - 60px);
}

.left,
.right {
    flex: 1;
}

.img-big{
    margin-top: 90px;
    width: 100%;
    position: relative;
    top: -10px;
    right: 1px;
    animation :animateUser 4s linear infinite
}
@keyframes animateUser{
    50%{
        
        top: -30px;
    }
}
.right {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.left {
    margin-left: 110px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    
}

.left h1 {
    font-size: 55px;
    font-weight: 800;
    margin-left: 20px;
    height: 30%;
}

.left p {
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: 300;
    margin-left: 20px;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    
}

.left div {
    margin-left: 20px;
    margin-top: 30px;
}

.view-jobs-design,
.post-jobs-design,
.admin-post-jobs-design
{
    border: 1px solid #4d2285;
    padding: 10px 25px;
    border-radius: 50px;
    cursor: pointer;
    transition: all .4s ease;
    font-family: 'poppins';
    margin-top: 20px;


}

.view-jobs-design {
    background: #8338e4;
    color: white;
    
}

.post-jobs-design {
    background: #8338e4;
    color: white;
    margin-left: 60px;
}
.admin-post-jobs-design {
    background: #8338e4;
    color: white;
    margin-left: 60px;
}

.post-jobs-design:hover {
    background: white;
    color: #8338e4;
}
.view-jobs-design:hover {
    background: white;
    color: #8338e4;
}
.admin-post-jobs-design:hover {
    background: white;
    color: #8338e4;
}

.h {
    margin-right: 20px;
    display: none;
}

.qq {
    width: 100%;
    height: calc(100vh - 60px);
    background: white;
    position: fixed;
    top: 60px;
    display: none;
}

.icons {
    width: 100%;
    padding: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons ul li {
    display: table;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

i {
    cursor: pointer;
    font-size: 30px;
}




@media only screen and (max-width: 600px) {
    nav ul {
        display:grid;
        
    }

    section {
        height: auto;
        flex-direction: column-reverse;
    }

    .car {
        width: 95%;
        margin-top: 20px;
    }

    .left {
        margin-bottom: 20px;
    }

    .h {
        display: block;
    }
}


 
    
 @media only screen and (max-width: 400px) {
        nav ul {
            display: none;
        }
    
        section {
            height: auto;
            flex-direction: column-reverse;
        }
    
        .car {
            width: 95%;
            margin-top: 20px;
        }
    
        .left {
            margin-bottom: 20px;
        }
    
        .h {
            display: block;
        }
} 
.p_color{
    color: rgb(107, 109, 108);
}